header {
  position: fixed;
  top: 0;
  min-height: 65px;
  padding: 0px 100px;
  display: flex;
  align-items: left;
  background-color: #8CDC26B;
  width: 100%;
}

body {
  text-align: left;
  background-color:#CDC26B;
  font-family: Gentium;
  padding: 300px
}


.logo {
  width: 125px;
}

@media (max-width: 400px) {
  .logo {
    margin-top: 40px;
    width: 50%;
    position: fixed;
    
  }
}

.logo > img {
  width: 50%;
  height: 100%;
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

#nav-bar-list {
  list-style: none;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#contact {
  margin-top: -200px;
  text-align: center;
}

#form {
  text-align: center;
}


#overview {
  margin-top: 20px;
  text-align: left;
}


#characteristics {
  margin-top: 30px;
  display: flex;
 
}

#characteristics > iframe {
  margin-top: 20px;
}

#notes {
  margin-top: -350px
}

.routelist {
  color: black;
}

ul {
  text-align: center;
  list-style: inside;
}

.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 45%;
}

iframe {
  border: none;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0%;
	left:25%;
	width:50%;
	height:50%;
}

#video {
  width: 560;
  height: 315;
}